section {
    min-height: 100vh;
    margin: 0 !important;
}

.margin-around {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px);
}

.padd-around {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
}

.column {
    display: flex;
    flex-direction: column;
}

.start-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;


}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.y-center {
    align-items: center;
}

.red{
    background-color: firebrick;
}
.blue{
    background-color: skyblue;
}
.purple{
    background-color: mediumpurple;
}
.green{
    background-color: green;
}

.yellow{
    color:#eca63e ;
}
.title{

    width: 50vw;
}

#s1{
    overflow: hidden;
    position: relative;
}
#s1 div div h1{
    line-height: 7vh;

}
#circle{
    position: absolute;
    right: -30vh;
    top: 70vh;
    z-index: 1000;
}


#titrel1 {
    font-size: 9vh;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    color: #3D3D3D;
}
#titrel2 {
    font-size: 6.75vh;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    color: #3D3D3D;
}

#subtitle{
    height: 20vh;
    margin-top: 5vh;

}

#preview{
    margin-right: 30vh;
    margin-top: 30vh;

}
#description{
    font-family: "Franklin Gothic Medium";
    line-height: 4vh;
    font-size: 3.5vh;
    font-weight: lighter;
    color: #3D3D3D;
    text-align: left;

}

.no-padding{
    padding: 0!important;
}