section {
    min-height: 100vh;
    margin: 0 !important;
    z-index: 1000;

}

body{
    overflow-x: hidden;
}

.margin-around {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px);
}

.padd-around {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
}

.column {
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}

.start-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;


}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-end{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.x-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.y-center {
    align-items: center;
}

.red{
    background-color: firebrick;
}
.blue{
    background-color: skyblue;
}
.purple{
    background-color: mediumpurple;
}
.green{
    background-color: green;
}

.yellow{
    color:#eca63e ;
}
.title{

    width: 50vw;
}

.titleA {
    font-size: 9vh;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    color: #3D3D3D;
    margin: 0;
}

.titleB{
    font-size: 8.5vh;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    color: #3D3D3D;
    z-index: 1000;
    margin: 0;
}

.titleC{
    font-size: 7.5vh;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    color: #3D3D3D;
    z-index: 1000;
    margin: 0;
}
.titleD{
    font-size: 5vh;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    color: #3D3D3D;
    z-index: 1000;
    margin: 0;
}

.titleE{
    font-size: 3.5vh;
    font-family: "Franklin Gothic";
    color: #3D3D3D;
    line-height: 4vh;
    z-index: 1000;
    margin: 0;

}
.first-plan{
    z-index: 1000;
}

.show{
    display: block;
}

.hide{
    display: none;
}
#preview{
    position: absolute;
    right: 0;
    top: 20%;
}

#s1{
    overflow: hidden;
    position: relative;

}
.subtitle_discover{
    width: 40%;

}
.discover-container{
    height: 100vh;
    width: 100%;
}

.discover_txt{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    max-height: 100vh;
    z-index: 1000;
}
.discover-title{
    margin-bottom: 5%;
}
.container-txt-s2{
    padding-left: 7.5%!important;
    padding-right: 0!important;
}
.title-s2{
    margin-bottom: 5%;
    z-index: 1000;
}
#circle{
    position: absolute;
    right: -40vh;
    top: 70vh;
}

#circle1{
    position: absolute;
    left: -54vh;
    top: 370vh;
    z-index: 1000;
}

#rectangle{

    position: absolute;
    left: -60vh;
    top: 128vh;
    z-index: 10;

}
#rectangle1{

    position: absolute;
    right: -123vh;
    top: 250vh;
    z-index: 10;

}

#plage{
    height:95vh;
    position: absolute;
    right: 0;
    top: 202.5vh;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 1000;
}


#titrel2 {
    font-size: 6.75vh;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    color: #3D3D3D;
}



.description{
    font-family: "Franklin Gothic Medium";
    line-height: 4vh;
    font-size: 3.5vh;
    font-weight: lighter;
    color: #3D3D3D;
    text-align: left;

}

.no-padding{
    padding: 0!important;
}

#group{
    height: 100vh;
    z-index: 100;
}

.photo{
    width: 80%;
    height: 100%;
}

.container-s3{
    height: 100vh;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container-title-s3{
    margin-bottom: 10%;

}

.FullHeight{
    height: 100vh;
}
.container-title-s4{
    margin-bottom: 10%;
}

.chiffres{
    height: 10vh;
}

.keynumbers{
    font-size: 13vh;
    font-family: "Franklin Gothic Medium";
    font-weight: lighter;
    color: #eca63e;
    line-height: 10vh;
    z-index: 1000;
}

.subnumbers{
    font-size: 4vh;
    font-family: "Franklin Gothic Medium";
    font-weight: 100;
    color: #eca63e;
    z-index: 1000;
    line-height: 2vh;
}

#txt-number{
    margin-left: 5vw;
}

#title-bottom{
    height: 40vh;
}

#title-bottom h1 {
    font-size: 14vh;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    color: #3D3D3D;

}
#title-bottom h2 {
    font-size: 7.5vh;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    color:#eca63e;

}

#socials{
    height: 60vh;
}

.download, .socials{
    height: 100%!important;
}

.container-download {
    width: 100%;
    flex-direction: column;
    height: 35vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: rgba(0,0,0,0.16) 5px 5px 15px;
}
.container-socials{
    width: 80%;
    height: 35vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: rgba(0,0,0,0.16) 5px 5px 15px;

}
.download{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.socials{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container-download div {
    height: auto;
}
#apple {
    height: 80px;
}

#google{
    height: 120px;
}

.reseaux{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

#insta{
    height: 100%;
    width: auto;

}

#twitter{
    height: 100%;
    width: auto;

}
.social-btns{
    height: 100%;
}
#discord{
    height: auto;
    width: 220px;
}

#container-insta-discord{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

/* RESPONSIVE BREAKPOINT */

@media only screen and (min-width: 1280px) {
    /* For wide screens: */
    .xLarge-1 {width: 8.33%;}
    .xLarge-2 {width: 16.66%;}
    .xLarge-3 {width: 25%;}
    .xLarge-4 {width: 33.33%;}
    .xLarge-5 {width: 41.66%;}
    .xLarge-6 {width: 50%;}
    .xLarge-7 {width: 58.33%;}
    .xLarge-8 {width: 66.66%;}
    .xLarge-9 {width: 75%;}
    .xLarge-10 {width: 83.33%;}
    .xLarge-11 {width: 91.66%;}
    .xLarge-12 {width: 100%;}



}

@media only screen and (min-width: 980px) and (max-width: 1279px) {
    /* For desktop: */
    .large-1 {width: 8.33%;}
    .large-2 {width: 16.66%;}
    .large-3 {width: 25%;}
    .large-4 {width: 33.33%;}
    .large-5 {width: 41.66%;}
    .large-6 {width: 50%;}
    .large-7 {width: 58.33%;}
    .large-8 {width: 66.66%;}
    .large-9 {width: 75%;}
    .large-10 {width: 83.33%;}
    .large-11 {width: 91.66%;}
    .large-12 {width: 100%;}

    #preview{
        width: 40%;
        top: 65vh;
        right: -3vw;
    }
    #rectangle{
        display: none!important;
    }

    .subtitle_discover{
        width: 80%;

    }
    #circle{
        right: -400px;
        top: -400px;
    }
    .titleC{
        font-size:55px ;
    }
    .titleD{
        font-size:45px ;
    }
    .titleE{
        font-size:25px ;
    }
    .title-s2{
        padding: 20px;
    }
    .first-plan{
        padding: 20px;
    }
    .photo{
        width: 100%;
        height: 100%;
    }
    .container-txt-s2{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    #plage{
        right: -15vh;
        top: 247vh;

    }

}

@media only screen and (min-width: 520px) and (max-width: 979px) {
    /* For tablets: */
    .medium-1 {width: 8.33%;}
    .medium-2 {width: 16.66%;}
    .medium-3 {width: 25%;}
    .medium-4 {width: 33.33%;}
    .medium-5 {width: 41.66%;}
    .medium-6 {width: 50%;}
    .medium-7 {width: 58.33%;}
    .medium-8 {width: 66.66%;}
    .medium-9 {width: 75%;}
    .medium-10 {width: 83.33%;}
    .medium-11 {width: 91.66%;}
    .medium-12 {width: 100%;}

    #preview{
        display: none;
    }
    .subtitle_discover{
        width: 100%;

    }
    .title-s2{
        padding: 20px;
    }
    .first-plan{
        padding: 20px;
    }
    .photo{
        width: 100%;
        height: 100%;
    }
    .container-txt-s2{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    #circle{
        right: -400px;
        top: -400px;
    }

    .titleC{
        font-size:55px ;
    }
    .titleD{
        font-size:45px ;
    }
    .titleE{
        font-size:25px ;
    }
    #plage{
       display: none;

    }
    .container-s3{
        width: 100%;
    }
    #rectangle{
        display: none;
    }


}

@media only screen and (min-width: 260px) and (max-width: 519px) {
    /* For mobile: */
    .small-1 {width: 8.33%;}
    .small-2 {width: 16.66%;}
    .small-3 {width: 25%;}
    .small-4 {width: 33.33%;}
    .small-5 {width: 41.66%;}
    .small-6 {width: 50%;}
    .small-7 {width: 58.33%;}
    .small-8 {width: 66.66%;}
    .small-9 {width: 75%;}
    .small-10 {width: 83.33%;}
    .small-11 {width: 91.66%;}
    .small-12 {width: 100%;}

    #preview{
        width: 60%;
        top: 80vh;
        left: 23vw;
    }
    .photo{
        width: 100%;
        height: 100%;
    }

    #circle{
        right: -400px;
        top: -400px;
    }
    .titleA{
        font-size: 45px;
    }
    .titleC{
        font-size:55px ;
    }
    .titleD{
        font-size: 35px;
    }
    .titleE{
        font-size: 18px;
        line-height: 18px;
    }
    .discover_txt{
        padding: 20px;
    }
    .subtitle_discover{
        width: 100%;
    }
    #plage{
        display: none;

    }
    .container-s3{
        width: 100%;
    }
    #rectangle{
        display: none;
    }



}

@media only screen and (max-width: 259px) {
    /* For watch: */
    .xSmall-1 {width: 8.33%;}
    .xSmall-2 {width: 16.66%;}
    .xSmall-3 {width: 25%;}
    .xSmall-4 {width: 33.33%;}
    .xSmall-5 {width: 41.66%;}
    .xSmall-6 {width: 50%;}
    .xSmall-7 {width: 58.33%;}
    .xSmall-8 {width: 66.66%;}
    .xSmall-9 {width: 75%;}
    .xSmall-10 {width: 83.33%;}
    .xSmall-11 {width: 91.66%;}
    .xSmall-12 {width: 100%;}

    #preview{
        display: none;
    }
    .subtitle_discover{
        width: 100%;

    }
    .photo{
        width: 100%;
        height: 100%;
    }
    #circle{
        right: -400px;
        top: -400px;
    }
    .titleA{
        font-size: 45px;
    }
    .titleD{
        font-size: 35px;
    }
    .titleE{
        font-size: 18px;
        line-height: 18px;
    }
    .discover_txt{
        padding: 20px;
    }
    .subtitle_discover{
        width: 100%;
    }
    #plage{
        display: none;

    }
    .container-s3{
        width: 100%;
    }
    #rectangle{
        display: none;
    }


}